{% extends 'base.html' %}

{% block content %}

    <div class="row mt-lg-5">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped text-white">
                    <tr>
                        <th>CÓDIGO</th>
                        <th>NOME</th>
                        <th>PREÇO DE VENDA</th>
                        <th>CATEGORIA</th>
                        <th>MARGEM DE LUCRO</th>
                        <th>ATIVO?</th>
                        <th>QUANTIDADE EM ESTOQUE</th>
                        <th>DESCRIÇÃO</th>
                        <th>EDITAR</th>
                        <th>EXCLUIR</th>
                    </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.pk }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.selling_price }}</td>
                        <td>{{ product.product_category }}</td>
                        <td>{{ product.profit_margin }}</td>
                        <td>{{ product.is_active }}</td>
                        <td>{{ product.current_inventory }}</td>
                        <td>{{ product.description }}</td>
                        <td><a href="{% url 'edit-product' product.pk %}">Editar</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

