{% extends 'base.html' %}

{% block content %}

    <h3 class="mt-5">Lista de comandas ativas</h3>
    <div class="row mt-lg-5">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped text-white">
                    <tr>
                        <th>CÓDIGO</th>
                        <th>DATA DE CRIAÇÃO</th>
                        <th>CLIENTE</th>
                        <th>PRODUTOS DA COMANDA</th>
                        <th>TOTAL</th>
                        <th>PAGAMENTO</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.pk }}</td>
                            <td>{{ order.selling_date }}</td>
                            <td>{{ order.client_id }}</td>
                            <td><a href="#" onclick="listProductsOutput({{ order.pk }})">Listar produtos</a></td>
                            <td>{{ order.total }}</td>
                            <td><a href="{% url 'edit-order' order.pk %}">Pagar</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
        var listProductsOutput = order => {
            window.location.href = window.location.origin +
                "{% url 'list-product-output' %}" +
                "?order=" +
                order;
        }
    </script>
{% endblock %}