{% extends 'base.html' %}

{% block content %}

    <div class="row mt-lg-5">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped text-white">
                    <tr>
                        <th>CÓDIGO</th>
                        <th>NOME</th>
                        <th>SIGLA</th>
                        <th>EDITAR</th>
                    </tr>
                {% for brand in brands %}
                    <tr>
                        <td>{{ brand.pk }}</td>
                        <td>{{ brand.name }}</td>
                        <td>{{ brand.initials }}</td>
                        <td><a href="{% url 'edit-brand' brand.pk %}">Editar</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}