{% extends 'base.html' %}

{% block content %}

    <h3 class="mt-5">Produtos da comanda</h3>
    <div class="row mt-lg-5">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped text-white">
                    <tr>
                        <th>PRODUTO</th>
                        <th>PREÇO VENDIDO</th>
                        <th>QUANTIDADE</th>
                        <th>VALOR TOTAL</th>
                    </tr>
                    {% for product_output in product_outputs %}
                        <tr>
                            <td>{{ product_output.product_id }}</td>
                            <td>{{ product_output.sold_price }}</td>
                            <td>{{ product_output.quantity }}</td>
                            <td>{{ product_output.sales_total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

